.form-section{
    width: 40%;
    margin: 2rem auto;
    text-align: center;
    background-color: #0eadd4;
    padding: 0.625rem;
}
.form-section h1{
    color: #0e758f;
    margin: 0;
    margin-bottom: 1.563rem;
}
.form-section input::placeholder{
    color: #0e758f;
}
.form-section input{
    margin: 0;
    padding: 0.625rem;
    width: 98%;
    box-sizing: border-box;
    color: #0e758f;
    background-color: #13a5ca;
    border: 0.063rem solid #0e758f30;
    outline: none;
}
